.events {
    background-color: rgb(138, 138, 240);
    padding: 5%;
    border-radius: 100px;
}

.event {
    display: flex;
    justify-content: space-around;
    transition: flex-grow 1s linear;
    flex-wrap: wrap;
}

.content {
    max-width: 500px;
    min-width: 300px;
}

.imgDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imgDiv > img {
    height: 200px;
    padding: 10px;
}
